@media(min-width:800px){
    .nav-main{
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .nav-header{
     padding: 0;
    }
    .fa-bars{
        display: none;
    }
    .nav-list{
        height: auto;
        display: flex;
        
    }
    .nav-item{
        padding: 0;
        margin: 0 0.5rem;

    }
  
}
@media (max-width:800px) {
    .row{
        flex: none;
        display: block;
        padding-right: 0;
      }
      .aboutme{
        flex-basis: 100%;
     } 
     .about-img-box{
         flex-basis: 100%;
     }
     .work{
        display: block;
        flex: none;
    
     }
     .work-img-box{
        flex-basis: 100%;
     }
     .work-info{
        flex-basis: 100%;
        margin-bottom: 2.5rem;
     }
     .skill-block{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-gap:1rem;
        align-items: center;
      
    }
    .skill{
        display: flex;
        
    }
    .skill-text{
       margin-top: 10px;
       margin-left: 15px;
     
    }
     .cta-block{
        display: block;
        flex: none;
     }
     .btn-cta{
        margin-bottom: 2rem;
     }
     section{
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }
}


@media (max-width:1020px) {
   
     .work-img-box{
        flex-basis: 30%;
       
     }
     .work-info{
        flex-basis: 35%;
        padding-left: 10px;
        
     }
     .row{
        padding-right: 0;
     }
     .aboutme{
        flex-basis: 65%;
        padding-left: 20px;
     } 
     .about-img-box{
         flex-basis: 35%;
     }
     /* .row{
        flex: none;
        display: block;
        padding-right: 0;
      }
     .aboutme{
        flex-basis:50%;
        padding-left: 5px;
     } 
     .about-img-box{
         flex-basis: 40%;
     }
     .about-img{
        width: 100%;
    } */
     
}
@media (max-width:1250px) {
    .row{
        padding-right:20px;
     }

    .aboutme{
        flex-basis: 60%;
        padding-left: 40px;
     } 
     .about-img-box{
         flex-basis: 40%;
     }
    .work-info{
        flex-basis: 35%;
        padding-left: 10px;
        
     }
}