@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --primary-text:#c4cfde;
    --secondary-text:#ff014f;
    --text-white:#ffffff;
    /* --bg-color:#212428; */
    --bg-color:#1d2125;
    /* --bg-color:#2d343f; */
    --bg-color2:#1b1f24;
    --body-color:#878e99;
    --body-color1: #212428;
    --body-color2: #1e2024;
    --body-color3: #23272b;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins',sans-serif;
    background-color: var(--bg-color2);
    line-height: 1.5;
    color: var(--body-color);
}   
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat',sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding-left: 5rem;
    padding-right:5rem;
}
section{
    padding-top: 80px;
    padding-bottom: 80px;
}
/* ****************************** */
      /* NAVBAR */
/* ********************************  */
nav{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.nav-item:link,
.nav-item:visited{
      display: block;
    color: var(--primary-text);
    font-weight: 400;
    font-size: 1.2rem;
    transition: all 0.5s ;
    padding: 0.5rem 0.5rem;
    cursor: pointer;

}
.nav-item:hover,
.nav-item:active{
   color: var(--text-white);
}
.nav-item.nav-btn:link,
.nav-item.nav-btn:visited{
   padding: 0.5rem 2rem; 
   color: var(--secondary-text);
   cursor: pointer;
   box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.4);
   transition: transform 0.5s;
   
}
.nav-item.nav-btn:hover,
.nav-item.nav-btn:active{
    /* transform: translateY(-.5rem); */
    color: var(--primary-text);
    background-color: var(--secondary-text);
}
.nav-list{
    overflow: hidden;
    height: 0;
    transition: all 0.3s linear;
}
.show-menu{
height: 20rem;
}
.fa-bars{
    font-size: 1.5rem;
    color:var(--secondary-text);
    cursor: pointer;
}
.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    
}
.logo i{
color: var(--secondary-text);
}
/* ************************* */
       /* Hero Section */
/* ************************* */
.hero-section{
    background-image:url(/images/background1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
     filter: brightness(75%); 
     display: flex;
     justify-content: center;
    align-items: center;
    line-height: 1.5;
}
.hero-content{
    /* text-align: center; */
}
.hero-content p{
    color: var(--secondary-text);
    font-weight: 500;
}
.hero-content h1{
    font-size: 3rem;
    color: var(--text-white);
}
.hero-content h4{
    font-size: 1.5rem;
    color: var(--text-white);
    font-weight: 400;
}

/* ************************* */
       /* About Section */
/* ************************* */
#about{
    padding: 80px 0;
   }
.row{
    display: flex;
    justify-content: space-between;
     padding-right: 80px;
    
}
.aboutme{
   flex-basis: 50%;
} 
.about-img-box{
    flex-basis: 40%;
}
.about-img{
    width: 100%;
}
.heading-primary{
    color: var(--primary-text);
    font-size: 2.5rem;
    padding-bottom: 1rem;
    font-weight: 700;
    text-align: center;
}
.description{
    /* color: var(--primary-text); */
    font-size: 1.1rem;
}
.subtitle{
    color:#f9004d;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

/* ************************* */
       /* Service Section */
/* ************************* */
#services{
    background-color: var(--bg-color);
}
.service-block{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr)) ;
    grid-gap: 1rem;
    margin-top: 2.5rem;
}
.service-item{
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
    padding: 2.5rem;
    font-size: 1rem;
    border-radius: 10px;
    transition: all 0.5s ;

}
.service-block i{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--secondary-text);
}
.secondory-text{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--primary-text);
}
.secondory-text:hover{
    color: var(--text-white);
}
.service-block p:hover{
    color: var(--primary-text);
}
.service-item:hover{
    transform: translateY(-1rem);
}
/* ************************* */
       /* Skill Section */
/* ************************* */
#skill-section{
    background-color: var(--bg-color);
    padding-bottom: 1rem;
}
.skill-block{
    height: 500px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr)) ;
    grid-gap:1rem;
    margin-top: 2.5rem;
    
}


.skill-block i{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--secondary-text);
}
.skill-img{
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 1rem;
    color: var(--secondary-text);
}
.skill{
    width: 200px;
    height:100px;
    text-align: center;
}
.skill-text{
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-text);
}
.skill-text:hover{
    color: var(--text-white);
}


/* ************************* */
       /* Portfolio Section */
/* ************************* */
#portfolio{
    background-color: var(--bg-color2);
}
.work{
    display: flex;
    justify-content: space-between;
    padding:2.5rem;
    align-items: center;
    /* box-shadow: 2px 3px 4px 3px rgba(0, 0, 0, 0.4);  */
      margin-bottom: 2.5rem;
       border-radius: 50px;
       /* background: linear-gradient(145deg, #1e2024, #23272b);
       box-shadow:  20px 20px 60px #1c1f22,
                    -20px -20px 60px #26292e; */
    
   
   
}
.work-1{
   /* box-shadow: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225; 
   box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;  */
    /* box-shadow: inset 5px 5px 15px #1c1f22, -5px -5px 15px #26292e , inset 5px 5px 15px #1c1f22; */
    border-radius: 50px;
   box-shadow: 10px 10px 19px #1c1e22,
   -10px -10px 19px #262a2e;
 }
 .sidebar{
    box-shadow:  21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
 }
 .inner-shadow{
   box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
 }
 .innershod{
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
 }
.work-img-box{
    flex-basis: 30%;
    height: 13rem;
    border-radius: 10px;
    overflow: hidden;
   
}
.work-info{
    flex-basis: 45%;
}
.work-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.8s;
    
}
.work-img:hover{
    transform: scale(1.1);
}
.profile-heading{
    color: var(--primary-text);
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.profile-heading:hover{
    color: var(--text-white);
}
.portfolio-skill{
    font-size: 0.8rem;
    margin-top: 2rem;
}
.portfolio-skill:hover{
    color: var(--primary-text);
}
 .btn{
    color: var(--secondary-text);
    padding: 1rem 2rem ;
    box-shadow: 2px 3px 4px  rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    transition: all 0.5s ;
    text-transform: uppercase;
 }
 .btn:hover{
    transform: translateY(-0.5rem);
 }


 /* ****************************** */
          /* CTA Section */
/**********************************  */

.cta-block{
    display: flex;
    margin-top: 3rem;
    /* justify-content: space-between; */
}
.heading-contact{
    color: var(--primary-text);
    font-size: 1.5rem;
    /* padding-bottom: 0.5rem; */
    font-weight: 700;
    
}
.cta-content{
    flex-basis: 40%;
}

.cta-details{
    flex-basis: 50%;
}
.cta-content p{
    margin-bottom: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}
.cta-content p i{
    color: var(--secondary-text);
    font-size: 1rem;
    margin-right: 1rem;
}
.social-icon{
    margin-top: 3rem;
    font-size: 1.5rem;
}
.social-icon a {
    /* font-size: 2rem; */
   padding: 0.4rem 0.8rem;
   box-shadow: 2px 3px 4px  rgba(0, 0, 0, 0.4);
   color: var(--primary-text);
   display: inline-block;
  transition: transform 0.5s ease;
  
}
.social-icon a:hover{
    color: var(--secondary-text);
    background-color:#0d1013 ;
    transform: translateY(-3px);
    
}
.btn-cta{
    display: inline-block;
    margin-top: 3rem;
}
.cta-details form{
width: 80%;
}

form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    padding: 1rem;
    margin: 0.8rem 0;
    color: var(--primary-text);
    font-size: 1.2rem;
   background-color: transparent;
   border-style: none none solid;
   border-width: 1px 1px 2px;
}
form .btn-cta{
    background-color: var(--bg-color);
    border: none;
    text-transform: uppercase;
    margin-top: 1rem;

}
.copyright{
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    margin-top: 10rem;
    font-size: 1rem;
    font-weight: 300;
    border-top: 1px solid var(--secondary-text);

}
